* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.sideIcon {
  margin-right: 20px;
  color: #454559;
}

.grid {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}


.main2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ul {
  list-style: none;
  line-height: 25px;
}

.li {
  border-left: solid 5px #e03852;
  margin-bottom: 12px;
  padding-left: 16px;
  color: #808080;
}

.quoteIcon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #e03852;
}

.profileImg {
  width: 200px;
  height: 170px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.chefName {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.cardIcon {
  color: #e03852;
  font-size: 1.2rem;
  margin-right: 8px;
  margin-top: 5px;
  cursor: pointer;
}

.cardIconFB {
  color: #4267b2;
  font-size: 1.2rem;
  margin-right: 8px;
  margin-top: 5px;
  cursor: pointer;
}
.cardIconTW {
  color: #00acee;
  font-size: 1.2rem;
  margin-right: 8px;
  margin-top: 5px;
  cursor: pointer;
}

.footerContent {
  line-height: 25px;
  transition: all 0.3s ease-in-out;
}

.iconsWrap {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.footerIcons {
  font-size: 1.2rem;
  
}

.copyright {
  margin-top: 12px;
}

.footerIcons {
  cursor: pointer;
}

.footerIcons:hover {
  color: #e03852;
  transition: all 0.3s ease-in-out;
}

.recipesHero {
  width: 100%;
  height: auto;
  filter: brightness(80%);
}

.cardImg {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recipesWrap {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  padding: 16px;
  gap: 10px 80px;
}

.cardSubtitle {
  text-align: start;
  padding-top: 10px;
}

.cardBtn {
  outline: none;
  text-decoration: none;
  border: none;
  background-color: #e03852;
  color: #fff;
  padding: 12px 24px;
  margin-top: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.ECImg {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.specialFeaturesIcon {
  font-size: 2.5rem;
}

.specialFeaturesH2 {
  text-transform: uppercase;
  margin: 20px 0;
  letter-spacing: 3px;
}

.specialFeaturesBG {
  object-fit: cover;
  width: 100%;
  height: auto;
  filter: brightness(30%);
}

@media screen and (max-width: 768px) {
  .li {
    text-align: start;
    border-left: solid 5px #e03852;
  }

  .ul {
    line-height: 20px;
  }

  .grid {
    width: 100%;
    height: auto;
  }

  .removed {
    display: none;
  }

  .profileImg {
    width: 180px;
    height: auto;
  }
  
  .chefName {
    font-size: 1.1rem;
  }

  .recipesWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ECImg {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .recipesHero {
    height: 500px;
    width: auto;
  }

  .recipesWrap {
    align-items: center;
    justify-content: center;
  }

  .cardImg {
    width: 100%;
  }

  .specialFeaturesBG {
    height: 1000px;
    width: auto;
  }

}